<div class="iconos-container">
    <button class="boton-icono" [routerLink]="['/formulario']">
        <img  src="" alt="Crear Evento">
        <span >Crear Evento</span>
    </button>

    <button class="boton-icono" [routerLink]="['/busqueda']">
        <img  src="" alt="Realizar Búsqueda">
        <span >Realizar Búsqueda</span>
    </button>

    <button class="boton-icono" [routerLink]="['/roles']">
        <img  src="" alt="Consultar Roles">
        <span >Consultar Roles</span>
    </button>

    <button class="boton-icono" [routerLink]="['/ajustes']">
        <img  src="" alt="Modificar Ajustes">
        <span >Modificar Ajustes</span>
    </button>
</div> 