<nav aria-label="Navegación principal">
  <h1 class="sr-only">Página principal de NotiConnect</h1>
  <div class="iconos-container">
    <div class="icono-bloque">
      <button class="boton-icono" [routerLink]="['/formulario']">
        <img src="assets/pagina-principal/formulario.png" alt="Crear Evento">
      </button>
      <div class="icono-texto">Crear Evento</div>
    </div>
    <div class="icono-bloque">
      <button class="boton-icono" [routerLink]="['/busqueda']">
        <img src="assets/pagina-principal/busqueda.png" alt="Realizar Búsqueda">
      </button>
      <div class="icono-texto">Realizar Búsqueda</div>
    </div>
    <div class="icono-bloque">
      <button class="boton-icono" [routerLink]="['/roles']">
        <img src="assets/pagina-principal/roles.png" alt="Consultar Roles">
      </button>
      <div class="icono-texto">Consultar Roles</div>
    </div>
    <div class="icono-bloque">
      <button class="boton-icono" [routerLink]="['/ajustes']">
        <img src="assets/pagina-principal/ajustes.png" alt="Modificar Ajustes">
      </button>
      <div class="icono-texto">Modificar Ajustes</div>
    </div>
  </div>
</nav>
