.iconos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 2rem;
    max-width: 700px;
    width: 100%;
    place-items: center;
    margin: 0 auto;
}

.icono-bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-icono {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #f0f0f0;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    cursor: pointer;
}

.boton-icono img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    display: block;
    background: #e0e0e0;
}



@media (max-width: 600px) {
    .iconos-container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .boton-icono {
        width: 110px;
        height: 110px;
    }
}





