<div class="ajustes-container">
    <h1>{{ 'SETTINGS.TITLE' | translate }}</h1>

    <div class="ajuste-seccion">
        <h2>{{ 'SETTINGS.APPEARANCE' | translate }}</h2>
        <div class="ajuste-item">
            <label class="switch-label">
                <span class="ajuste-titulo">{{ 'SETTINGS.DARK_MODE' | translate }}</span>
                <div class="switch">
                    <input type="checkbox" 
                           [checked]="modoOscuro" 
                           (change)="toggleModoOscuro()"
                           [attr.aria-label]="'SETTINGS.TOGGLE_DARK_MODE' | translate">
                    <span class="slider"></span>
                </div>
            </label>
        </div>
    </div>

    <div class="ajuste-seccion">
        <h2>{{ 'SETTINGS.LANGUAGE' | translate }}</h2>
        <div class="ajuste-item">
            <label for="idioma" class="ajuste-titulo">{{ 'SETTINGS.SELECT_LANGUAGE' | translate }}</label>
            <div class="idioma-selector-container">
                <img *ngIf="idiomaSeleccionado === 'es'" src="assets/idiomas/Flag_of_Spain.jpg" alt="Español" class="idioma-bandera" width="28" height="20">
                <img *ngIf="idiomaSeleccionado === 'en'" src="assets/idiomas/Flag_of_the_United_Kingdom.jpg" alt="English" class="idioma-bandera" width="28" height="20">
                <img *ngIf="idiomaSeleccionado === 'fr'" src="assets/idiomas/Flag_of_France.jpg" alt="Français" class="idioma-bandera" width="28" height="20">
                <select id="idioma"
                        [(ngModel)]="idiomaSeleccionado"
                        (change)="cambiarIdioma($event)"
                        class="selector-idioma"
                        [attr.aria-label]="'SETTINGS.SELECT_LANGUAGE' | translate">
                    @for (idioma of idiomas; track idioma.codigo) {
                        <option [value]="idioma.codigo">
                            {{ idioma.nombre | translate }}
                        </option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>